@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">National Wealth Bank of Australasia</h1>

        <div class="text-center">
            <img src="~/img/DB1.jpg" alt="Image could not be loaded" />
        </div>

        <h1> Welcome to NWBA, </h1>
    </div>