@model Admin.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustAddress" class="control-label"></label>
                <input asp-for="CustAddress" class="form-control" />
                <span asp-validation-for="CustAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustCity" class="control-label"></label>
                <input asp-for="CustCity" class="form-control" />
                <span asp-validation-for="CustCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustState" class="control-label"></label>
                <input asp-for="CustState" class="form-control" />
                <span asp-validation-for="CustState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNum" class="control-label"></label>
                <input asp-for="PhoneNum" class="form-control" />
                <span asp-validation-for="PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TFN" class="control-label"></label>
                <input asp-for="TFN" class="form-control" />
                <span asp-validation-for="TFN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit & Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

