@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h1 class="display-4">Admin</h1>*@

        <div class="text-center">
            <img src="~/img/admin hub.png" alt="Image could not be loaded" />
        </div>

        <div class="text-center">
            <img src="~/img/Admin2.png" alt="Image could not be loaded" />
        </div>
    </div>


